/* REGOLE RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* COLORI */
:root {
    --color-header: #eaeaea;
    --bg-color-message: #e1d8cf;
    --bg-color-footer: #f4eee8;
    --bg-color-notification: #77dcff;
    --bg-color-read-contact: #e9ebeb;
    --bg-sent: #cbfbb3;
    --bg-white: #ffffff;
    --color-icon: #b1b1b1;
}

/* REGOLE GENERALI */
.external-container {
    width: 100%;
    height: 100vh;
    background: rgb(218,219,211);
    background: linear-gradient(360deg, rgba(218,219,211,1) 79%, rgba(0,153,136,1) 79%);
}

.active {
    background-color: rgba(0, 0, 0, 0.1);
}

.not-visible {
    display: none;
}



/* REGOLE MAIN */
.internal-container {
    max-width: 1300px;
    margin: 0 auto;
    height: 80vh;
    background-color: var(--bg-white);
    position: relative;
    top: 10vh;
    left: 0;
    display: flex;
}


/* REGOLE SEZIONI */
main section {
    height: 100%;
    border: 0.5px solid var(--bg-color-message);
}

main #section-1 {
    width: 30%;
    
}

main #section-2 {
    width: 70%;
}

main #section-3 {
    width: 30%;
}

/* REGOLE SEZIONE 1 */
/* Header */
#section-1 header {
    width: 100%;
    height: 80px;
    background-color: var(--color-header);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#section-1 header #my-profile img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    vertical-align: middle;
}

#section-1 header #my-profile span {
    vertical-align: middle;
}

#section-1 header #my-actions {
    align-self: center;
}

#section-1 header #my-actions ul {
    list-style: none;
    display: flex;
}

#section-1 header #my-actions ul li {
    padding-left: 0.5rem;
}

#section-1 header #my-actions ul li a {
    color: var(--color-icon);
}

/* Main */
#section-1 main {
    height: calc(100% - 80px);
}

/* Main - notifications */
#section-1 main #notifications {
    background-color: var(--bg-color-notification);
    width: 100%;
    height: 80px;
    padding: 1rem;
    display: flex;
    align-items: center;
}

#section-1 main #notifications #icon i {
    color: var(--bg-color-notification);
    background-color: var(--bg-white);
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    text-align: center;
    line-height: 3rem;
}

#section-1 main #notifications #info {
    padding-left: 0.2rem;
}

#section-1 main #notifications #info a {
    font-size: 0.8rem;
    color: grey;

}

/* Main - search */
#section-1 main #search {
    padding: 1rem;
    height: 80px;
}

#section-1 main #search input {
    display: block;
    padding: 9px 4px 9px 40px;
    width: 100%;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    border: 1px solid var(--bg-color-message);
    border-radius: 4px;
}

/* Main - list contacts */
#section-1 main #list-contacts {
    height: calc(100% - 160px);
}

#section-1 main #list-contacts ul {
    list-style: none;
    height: 100%;
    overflow-y: scroll;
}

#section-1 main #list-contacts ul li hr {
    width: 100%;
    border-top: 0.09rem solid var(--bg-color-message);
    border-bottom: 0rem;
    border-left: 0rem;
    border-right: 0rem;
}

#section-1 main #list-contacts ul li .single-chat {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 1rem;
}

.not-visible {
    display: none;
}

#section-1 main #list-contacts img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    vertical-align: middle;
}


#section-1 main #list-contacts ul li .avatar span {
    vertical-align: middle;
}

#section-1 main #list-contacts ul li .avatar .info-avatar {
    display: inline-block;
    padding-left: 0.5rem;
}

#section-1 main #list-contacts ul li .avatar .avatar-message {
    font-size: 0.8rem;
    padding-top: 0.2rem;
    color: var(--color-icon);
}

#section-1 main #list-contacts ul li .message-time {
    font-size: 0.8rem;
    color: var(--color-icon);
}


/* REGOLE SEZIONE 2 */
/* Header */
#section-2 header {
    width: 100%;
    height: 80px;
    background-color: var(--color-header);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#section-2 header #clicked-avatar img {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    vertical-align: middle;
}

#section-2 header #clicked-avatar .info-clicked-avatar {
    display: inline-block;
    padding-left: 0.5rem;
    vertical-align: middle;
}

#section-2 header #clicked-avatar .info-clicked-avatar .clicked-avatar-message {
    font-size: 0.8rem;
    padding-top: 0.2rem;
    color: var(--color-icon);
}

#section-2 header #conversation-actions {
    align-self: center;
}

#section-2 header #conversation-actions ul {
    list-style: none;
    display: flex;
}

#section-2 header #conversation-actions ul li {
    padding-left: 0.5rem;
}

#section-2 header #conversation-actions ul li a {
    color: var(--color-icon);
}

/* Main */
#section-2 main {
    width: 100%;
    height: calc(100% - 160px);
    overflow-y: scroll;
    background-image: url(../img/mine.jpg);
}

#section-2 main .conversation-container {
    width: 100%;
    padding: 3rem;
}

#section-2 main .conversation-container .message-container {
    border-radius: 5px;
    display: inline-block;
    margin-bottom: 1rem;
}

#section-2 main .conversation-container .message-container .message-content {
    padding: 0.5rem 0.5rem 0 0.5rem;
    min-width: 200px;
    position: relative;
}

#section-2 main .conversation-container .message-container .message-content div:first-child {
    text-align: right;
    color: var(--color-icon);
}

#section-2 main .conversation-container .message-container .message-content div:last-child {
    margin-bottom: 0.3rem;
    margin-right: 10px;
}

.dropdown {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    -webkit-box-shadow: 3px 3px 33px -2px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 3px 3px 33px -2px rgba(0, 0, 0, 0.24);
    box-shadow: 3px 3px 33px -2px rgba(0, 0, 0, 0.24);
    background-color: var(--bg-white);
    position: absolute;
    top: 25px;
    right: -3px;
    z-index: 3;
    text-align: center;
    padding-top: 10px;
}


#section-2 main .conversation-container .message-container .time {
    text-align: right;
    font-size: 0.7rem;
    color: var(--color-icon);
    padding: 0.2rem;
}

.sent {
    background-color: var(--bg-sent);
    margin-left: 60%;
}

.received {
    background-color: var(--bg-white);
    margin-right: 60%;
}




/* Footer */
#section-2 footer {
    width: 100%;
    height: 80px;
    background-color: var(--color-header);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#section-2 footer div:first-child, #section-2 footer div:last-child {
    color: grey;
    padding: 0 2rem;
    flex-grow: 0;
}

#section-2 footer .write-message {
    flex-grow: 1;
}

#section-2 footer .write-message input {
    width: 100%;
    border: 1px solid var(--bg-color-message);
    border-radius: 4px;
    padding: 1rem;
    background-color: var(--bg-white);
}

/* REGOLE SEZIONE 3 */
/* Header */
#section-3 header {
    width: 100%;
    height: 80px;
    background-color: var(--color-header);
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#section-3 header span {
    padding-right: 1rem;
}

/* Main */
#section-3 main {
    height: calc(100% - 80px);
}


/* Main - search message */
#section-3 main #search-message {
    padding: 1rem;
    height: 80px;
}

#section-3 main #search-message input {
    display: block;
    padding: 9px 4px 9px 40px;
    width: 100%;
    background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
    border: 1px solid var(--bg-color-message);
    border-radius: 4px;
}


#section-3 main #list-messages ul {
    list-style: none;
}


#section-3 main #list-messages ul li .time-message {
    font-size: 0.8rem;
    color: var(--color-icon);
    padding-left: 1rem;
    margin-top: 1rem;
}

#section-3 main #list-messages ul li .searched-message {
    font-size: 0.8rem;
    padding-top: 0.2rem;
    padding-left: 1rem;
    color: var(--color-icon);
    margin-bottom: 1rem;
}