<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Vue Boolzapp</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div id="app">

            <div class="external-container">
                <main class="internal-container">
                    <section id="section-1">
                        <header>
                            <div id="my-profile">
                                <img src="img/avatar_io.jpg" alt="mio-avatar">
                                <span>
                                    Sofia
                                </span>
                            </div>
                            <div id="my-actions">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-circle-notch"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-message"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </header>
                        <main>
                            <div id="notifications">
                                <div id="icon">
                                    <i class="fa-solid fa-bell-slash"></i>
                                </div>
                                <div id="info">
                                    <p>
                                        Ricevi notifiche di nuovi messaggi
                                    </p>
                                    <a href="#">
                                        Attiva notifiche desktop
                                    </a>
                                </div>
                            </div>
                            <div id="search">
                                <input type="search" placeholder="Cerca o inizia una nuova chat" v-model="inputSearch">
                                <!-- Prova vecchia con evento onchange su input: @onchange="checkVisibility(contact)" -->
                            </div>
                            <div id="list-contacts">
                                <ul>
                                    <!--Prova vecchia con aggiunta :class="contact.visible == true ? '' : 'not-visible'" -->
                                    <li v-for="(contact, indexSingleChat) in contactsList" :class="indexSingleChat == active ? 'active': ''" @click="active = indexSingleChat">
                                        <hr>
                                        <div class="single-chat">
                                            <div class="avatar">
                                                <img :src=" 'img/avatar' + contact.avatar + '.jpg'"  :alt="contact.name">
                                                <div class="info-avatar">
                                                    <div class="avatar-name">
                                                        {{ contact.name }}
                                                    </div>
                                                    <div class="avatar-message">
                                                        Ultimo messaggio
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="message-time">
                                                <!-- 12:00 -->
                                                {{ getlastDate(contact) }}
                                            </div>
                                        </div>  
                                    </li>
                                </ul>
                            </div>
                        </main>
                    </section>

                    <section id="section-2" >
                        <header>
                            <div id="clicked-avatar">
                                <img :src="'img/avatar' + contacts[active].avatar + '.jpg'" :alt="contacts[active]">
                                <div class="info-clicked-avatar">
                                    <div class="clicked-avatar-name">
                                         {{ contacts[active].name }}
                                    </div>
                                    <div class="clicked-avatar-message">
                                        Ultimo accesso alle
                                    </div>
                                </div>
                            </div>
                            
                            <div id="conversation-actions">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-magnifying-glass"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-regular fa-paperclip-vertical"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-ellipsis-vertical"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </header>
                        <main>
                            <div class="conversation-container">
                                <!-- singolo messaggio -->
                                <div class="message-container" v-for="(element, indexMessage) in contacts[active].messages" :class="element.status == 'sent' ? 'sent' : 'received' ">
                                    <div class="message-content">
                                        <div>
                                            <i class="fa-solid fa-chevron-down fa-2xs" @click="element.dropdown = true"></i>
                                            <div class="dropdown" :class="{'not-visible': element.dropdown == false}" @click="deleteMessage(active, indexMessage)">
                                                Delete message
                                            </div>
                                        </div>
                                        <div>
                                            {{ element.message }}
                                        </div>
                                    </div>
                                    <div class="time">
                                        {{ changeFormatDate (element) }}
                                    </div>
                                </div>

                                
                            </div>
                        </main>
                        <footer>
                            <div>
                                <i class="fa-regular fa-face-smile"></i>
                            </div>
                            <div class="write-message">
                                    <input type="text" placeholder="Scrivi un messaggio" v-model="inputText" @keyup.enter="addInput(active)">
                            </div>
                            <div>
                                <i class="fa-solid fa-microphone"></i>
                            </div>
                        </footer>
                    </section>
                </main>
            </div>

        </div>
        <!-- Script Luxon e Vue e JS -->
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>


        <script src="https://cdn.jsdelivr.net/npm/luxon@3.2.1/build/global/luxon.min.js"></script>
        <script type="text/javascript" src="js/scripts.js"></script>
    </body>
</html>